<div class="card mb-5" >  
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">                    
            </div>
        </div>             
    </div>   
  </div>

<div class="row p-3 flex-container">    
  <div class="col-sm-4 flex-item">
      <div class="card w-75">
          <img class="card-img-top p-2 mx-auto mt-3" src="../assets/instaNegro.png" alt="Card image cap" style="max-width: 80%; height: auto;">
          <div class="card-body">
          <h5 class="card-title">Instagram: <a href="https://www.instagram.com/vuelaviajeslp/" target="_blank"> @vuelaviajeslp</a></h5>
          
          </div>
      </div>
  </div>
  <div class="col-sm-4 flex-item">
    <div class="card w-75">
        <img class="card-img-top p-2 mx-auto" src="../assets/mail.png" alt="Card image cap" style="max-width: 85%; height: auto;">
        <div class="card-body">
        <h5 class="card-title h5">E-mail: <a href="mailto:contacto@vuelaviajes.com.ar" target="_blank">contacto@vuelaviajes.com.ar</a></h5>
        
        </div>
    </div>
  </div>
  <div class="col-sm-4 flex-item">
    <div class="card w-75">
      <img class="card-img-top p-2 mx-auto mt-3" src="../assets/tel.png" alt="Card image cap" style="max-width: 80%; height: auto;">
      <div class="card-body">
      <h5 class="card-title">Teléfono: <br><a href="https://www.instagram.com/vuelaviajeslp/" target="_blank">+54 9 11 3220-7138</a></h5>
      
      </div>
  </div>
</div>
</div>




<div class="card">  
  <div class="row">
      <div class="col-sm-10">
          <div class="card-body">
              <h5 class="card-title" >NUESTRA OFICINA</h5>
              <p class="card-text">Calle 51 Nro.536 E/5 Y 6 [T1} - BAXAR - 1900 - La Plata - Bs. As.</p>          
          </div>
      </div> 
      <div class="col-sm-2">
          <img class="float-right mt-3 mr-4" src="../assets/logo.jpg" width="150em" height="70em">
      </div>
  </div>   
</div>
<div height="200em"> 
</div>


