<nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
  <a class="navbar-brand" href="#">
      Vuela Viajes
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['destinos']">Destinos</a>
          </li>          
          <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'paquetes']">Paquetes promocionales</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
        </li>                   
      </ul>
      
  </div>
</nav>
<div class="container-fluid"> 
  <router-outlet></router-outlet>  
</div>