<div style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <div class="card">  
        <div class="row">
            <div class="col-sm-12">
                <div class="card-body">                    
                </div>
            </div>             
        </div>   
    </div>

    <div class="card">  
        <div class="row">
            <div class="col-sm-10">
                <div class="card-body">
                    <h5 class="card-title" >NUESTROS DESTINOS</h5>
                    <p class="card-text">Disponemos de paquetes completos para que no tengas que preocuparte de los preparativos, de la organización nos encargamos nosotros. </p>          
                </div>
            </div> 
            <div class="col-sm-2">
                <img class="float-right mt-3 mr-4" src="../assets/logo.jpg" width="150em" height="70em">
            </div>
        </div>   
    </div>
    
    <div class="row p-4">    
        <div class="col-sm-3">
            <div class="card w-100">
                <img class="card-img-top p-2" src="../assets/huma.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Salta</h5>
                <p class="card-text">
                    La Quebrada de Humahuaca es una de las visitas imprescindibles cuando recorremos el norte argentino. 
                    </p>
                <a href="salta" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card w-100">
                <img class="card-img-top p-2" src="../assets/tafi.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Tucumán</h5>
                <p class="card-text">Visitaremos los antiguos sitios arqueológicos, los más hermosos paisajes, las comunidades indígenas, las ruinas centenarias, y conoceremos las tradiciones indígenas de Tafí Del Valle.</p>
                <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card w-100">
                <img class="card-img-top p-2" src="../assets/ushuaia.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Ushuaia</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card w-100">
                <img class="card-img-top p-2" src="../assets/bari.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Bariloche</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-4">         
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top p-2" src="../assets/cala.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Calafate</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top p-2" src="../assets/cata.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Cataratas del Iguazú</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
    </div>

</div>
