<p>-</p>
<div class="row p-4">
    <img class="mt-4" style="max-width: 20%; height: auto; float: right;" src="../../../assets/logo.jpg">    
</div>
<div class="card">
    <div class="card-header">
        El vuelo sale desde Aeroparque Internacional Jorge Newbery (AEP) y es operado por JetSmart.
    </div>
    <div class="card-body">
      <h5 class="card-title">¡Hola! Tu reserva a Salta está a punto de concretarse</h5>
      <p class="card-text">> Aéreos BUE-SLA / SLA-BUE incluyendo impuestos y tasas de aeropuertos. Incluye equipaje de mano (consultar por equipaje extra). No permite reserva de asientos en el avión. </p>
      <p class="card-text">> 2 noches de Hotel 3 Estrellas con desayuno incluido. Opción de noche adicional.</p>
      <p class="card-text">> Traslados aeropuerto-hotel / hotel-aeropuerto / traslados internos para actividades.</p>
      <p class="card-text">> Visita a la Quebrada de Humahuaca.</p>
       
      <a href="#" class="btn btn-primary">Reservar</a>
    </div>
  </div>




